body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face 
{
  font-family: "Star Jedi";
  src: url("/fonts/STARJEDI.TTF");
}
@font-face 
{
  font-family: "Star Jhol";
  src: url("/fonts/STARJHOL.TTF");
}
@font-face 
{
  font-family: "Star Jout";
  src: url("/fonts/STARJOUT.TTF");
}
@font-face 
{
  font-family: "Star Jedise";
  src: url("/fonts/STJEDISE.TTF");
}